@using MvcTemplate.ResourceLibrary
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@SharedLocalizer["LabelWelcome"]</h1>
    <p>
        @SharedLocalizer["LabelWelcomeMessage"]
    </p>
</div>
